<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>eCommerce Business</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
               <div class="brand">
                   <button onclick="openMenu()">
                       &#9776;
                   </button>
                    <a href="index.html"> eCommerce Business</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Beer Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">IPAs</a>
                    </li>
                    <li>
                        <a href="index.html">Stout</a>
                    </li>
                </ul>
            </aside> 
            <main class="main">
                <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/CapeMayIPA.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May IPA</div>
                            <div class="prodcut-price">$12 for a 6-pack</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/Whitecaps.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May Coastal Evacuation (4-pack</div>
                            <div class="prodcut-price">$10</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/BoundingMan.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May Bounding Man (6-pack)</div>
                            <div class="prodcut-price">$11</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/CoastalEvacuation.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May IPA</div>
                            <div class="prodcut-price">$60</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/CapeMayIPA.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May IPA</div>
                            <div class="prodcut-price">$60</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/CapeMayIPA.jpg" alt= "product"/>
                            <div class="product-name">
                                <a href="product.html">IPA</a> 
                            </div>
                            <div class="product-brand">Cape May IPA</div>
                            <div class="prodcut-price">$60</div>
                            <div class="prodcut-rating">4.5 Stars (10 Reviews)</div>

                        </div>
                    </li>
                </ul>
                </div>
            </main>
        
            <footer class="footer">
                All rights reserved.
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open");
            }
        </script>
    </body>
</html>